.page-header {
  font-weight: @bold;
  text-transform: uppercase;
  background-color: @sky-blue;
  padding-top: 43px;

  &__bar {
    background-color: @white;
  }

  &__logo {
    font-size: 2.25em;
    letter-spacing: -0.03em;
  }

  &__main-nav {
    font-size: 0.87em;
    letter-spacing: -0.01em;
  }
}
