.information {
  color: @white;
  background-color: @dark-sky-blue;
  padding-left: 4px;

  &__title {
    font-size: 1.25em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
  }

  &__list-item {
    font-size: 0.81em;
    line-height: 24px;
  }

  & .fa {
    color: @white;
  }

  @media (min-width: @tablet-width) {
    &__title {
      text-align: start;
    }
  }

  @media (min-width: @desktop-width) {
    &__title {
      margin-bottom: 35px;
    }
  }
}
