.slider {
  line-height: 50px;
  text-transform: uppercase;
  color: @white;

  &__list-item__category,
  &__list-item__title {
    background-color: @basic-dark;
  }

  &__list-item__category {
    font-size: 1.87em;
    font-weight: @light;
  }

  &__list-item__title {
    font-size: 1.75em;
    font-weight: @bold;
  }
}
